

/* .body{
    width: 100%;
} */
#container-1{

    /* background: rgb(238, 182, 29); */
    display: flex;
    /* flex-direction: column; */
    /* border: 0px black solid; */
    margin: 0px;
    /* justify-content: center; */
    height: 750px;
    align-items: flex-start;
    flex-wrap: wrap;
}

div{

    padding: 10px;
    
    /* border: 1px black solid; */
    /* margin: 20px; */
    text-align: center;
    /* background: rgb(238, 182, 29); */
    
}


#header{

    position: relative;
    top: -5px;
    left: -4px;
    height: 100px;
    width: 1633px;
    align-self: flex-start;
    background: rgb(238, 182, 29);

    
}

#ads{

    position: relative;
    align-self: flex-start;
    left: -7px;
    top: 17px;
    width: 291px;
    height: 246px;
    background: rgb(238, 182, 29);

}

#article{

  position: relative;
    left: 16px;
    top: 17px;
    height: 425px;
    align-self: center;
    flex-grow: 0;
    width: 954px;
    background: rgb(238, 182, 29);
}

#nav{

    align-self: flex-start;
    position: relative;
    top: -139px;
    left: -8px;
    width: 291;
    height: 312px;
    background: rgb(238, 182, 29);

}

#footer{
    bottom: -12px;
    position: relative;
    left: 16px;
    top: -141px;
    height: 131px;
    width: 954;
    align-self: flex-end;
    background: rgb(238, 182, 29);

}